<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <h2 class="TITULO">CALCULO DE SISTEMA SOLAR</h2>
    <img src="/img/Sistemas-de-Energia-4.jpg" class="Solar" style="width: 200px; height: 150px; margin: 30px auto; display: block;">

    <p>
      Pagina web recomendada para calcular que necesitas para implementar un sistema solar aislado de la red electrica. 
      Un sistema solar aislado de la red eléctrica, también conocido como sistema fotovoltaico autónomo, es un sistema de generación de energía que aprovecha la radiación solar para producir electricidad y proporcionar energía a un lugar o instalación que no está conectado a la red eléctrica convencional.

      Este sistema consta principalmente de paneles solares fotovoltaicos que capturan la luz solar y la convierten en electricidad de corriente continua (DC). 
      La energía generada se almacena en baterías para su uso posterior, lo que permite tener electricidad disponible incluso durante la noche o en días nublados.

      Para empezar a crear tu proyecto haz clic aqui: 
      <a href="/CalculoSolar" class="btn btn-primary">CalculoSolar</a>

    </p>

  </div>
  <!-- ./wrapper -->
</div>





